/* Remove the standard margin/padding of the html body */

body {
    margin: 0;
    padding: 0;
}

.menu {
    
}

.page {

}

.footer {

}

.portraitRow1{
    width: 60%;
    height: fit-content;
    margin-left: 20%;
    margin-right: 20%;
}
.portraitRow1 img{
    height: auto;
    width: 33%;
}

.portraitRow2{
    width: 60%;
    height: fit-content;
    margin-left: 20%;
    margin-right: 20%;
}
.portraitRow2 img{
    height: auto;
    width: 33%;
}

.portraitRow3{
    width: 60%;
    height: fit-content;
    margin-left: 20%;
    margin-right: 20%;
}
.portraitRow3 img{
    height: auto;
    width: 33%;
}


.flexRows1 {
    width: 60%;
    height: 20px;
    margin-left: 20%;
    margin-right: 20%;

    display: flex;
    flex-grow: 1;
    justify-content:space-around;  
}
.flexRows2 {
    width: 60%;
    height: 20px;
    margin-left: 20%;
    margin-right: 20%;

    display: flex;
    flex-grow: 1;
    justify-content:space-around;
}
.flexRows3 {
    width: 60%;
    height: 20px;
    margin-left: 20%;
    margin-right: 20%;

    display: flex;
    flex-grow: 1;
    justify-content:space-around;
}

.angebotButtons details{
    padding-right: 50%;
}
.angebotButtons{
    padding-left: 0%;
}
/*https://blog.bitsrc.io/pure-css-to-make-a-button-shine-and-gently-change-colors-over-time-5b685d9c6a7e*/
/*https://github.com/paigen11/paigeniedringhaus.com/blob/master/src/components/Subscribe/Subscribe.scss#L14*/
@keyframes TransitioningBackground{
    0% {
        background-position: 1%, 0%;
    }
    50% {
        background-position: 99%, 100%;
    }
    100% {
        background-position: 1%, 0%;
    }
}

.basicButton    {
    width: 60%;
    height: 20%;
    border-radius: 5px;
    border-color: #daa520;
    color: black;

    text-align: center;
    font-size: 5rem;

    overflow: hidden;
    background-image: linear-gradient(270deg, #ffd700, #daa520);/*https://html-color.codes/gold*/
    background-size: 200%, 200%;
    animation: TransitioningBackground 10s ease infinite;
    transition: 0.6s;


}