/* Remove the standard margin/padding of the html body */
body {
    margin: 0;
    padding: 0;
}

.menu {
    
}

.page {

}

.footer {

}

.portraitRow1{
    width: 60%;
    height: fit-content;
    margin-left: 20%;
    margin-right: 20%;
}
.portraitRow1 img{
    height: auto;
    width: 33%;
}

.portraitRow2{
    width: 60%;
    height: fit-content;
    margin-left: 20%;
    margin-right: 20%;
}
.portraitRow2 img{
    height: auto;
    width: 33%;
}

.portraitRow3{
    width: 60%;
    height: fit-content;
    margin-left: 20%;
    margin-right: 20%;
}
.portraitRow3 img{
    height: auto;
    width: 33%;
}


.flexRows1 {
    width: 60%;
    height: 20px;
    margin-left: 20%;
    margin-right: 20%;

    display: flex;
    flex-grow: 1;
    justify-content:space-around;  
}
.flexRows2 {
    width: 60%;
    height: 20px;
    margin-left: 20%;
    margin-right: 20%;

    display: flex;
    flex-grow: 1;
    justify-content:space-around;
}
.flexRows3 {
    width: 60%;
    height: 20px;
    margin-left: 20%;
    margin-right: 20%;

    display: flex;
    flex-grow: 1;
    justify-content:space-around;
}