/* Remove the standard margin/padding of the html body */
body {
    margin: 0;
    padding: 0;
}

.menu {
    
}

.page {

}

.footer {

}
.team img {
    width: 20%;
    
}
.teamPortrait text{
    
}